/* 
* @Author: Marte
* @Date:   2017-05-09 10:03:21
* @Last Modified by:   Marte
* @Last Modified time: 2017-05-10 16:46:40
*/
.frame .sidebar .wrapper .logo {display:inline-block;margin:20px auto 0 auto;}
.frame .sidebar .wrapper .logo img{margin-left:50px;}
.frame .sidebar .wrapper ul li .title{color:#1d98f4;font-size: 18px;padding-left: 8px;margin-top:20px;}
.frame .sidebar .wrapper ul li .noDrop span{font-size: 14px;color:#d9dbe0;padding-left: 8px;}
.frame .sidebar .wrapper ul li .dropdown span{font-size: 14px;color:#d9dbe0;padding-left: 8px;}
.frame .sidebar .wrapper ul li .dropdown .right-icon{float:right;}
.frame .sidebar .wrapper .yy{list-style: none;padding-left: 5px;border-left: 2px solid #3b3f4d;margin-left: 60px;}
.frame .sidebar .wrapper .yy li{display:block;height:30px;}
.frame .sidebar .wrapper .yy li a{border-radius: 2px;line-height: 30px;position: relative;display: block;height:30px;text-shadow: inherit;font-size: 13px;font-weight: 500;padding-left: 14px;;}
.frame .sidebar .wrapper .yy li a:hover,
.frame .sidebar .wrapper .yy li:hover a{background: #3b3f4d;
  border-left: 5px solid #5c9df5;
  color: #FFFFFF;}
.frame .content .navbar .top-title{height:50px;margin:0;}
.frame .content .navbar .top-title span{color:#ffffff;font-size: 16px;line-height: 50px;;}
.frame .content #main-content .profile-head{height:120px;border-bottom:2px solid #e4e5e7;}
.frame .content #main-content .profile-head  .aa{font-size:14px;color:#70757f;margin-top:15px;margin-left:35px;display:inline-block;}
.frame .content #main-content .profile-head  a:hover{color:#1c9efe;cursor:pointer;}
.frame .content #main-content .profile-head p{margin-left:34px;font-size: 14px;}
.frame .content #main-content .profile-head p:first-child {margin-top: 30px;position:relative;}
.frame .content #main-content .profile-head p:first-child a{font-family: "Microsoft YaHei";color:#626873;}
.frame .content #main-content .profile-head p:first-child span{color:#ff6161;font-size: 18px;position:relative;top:5px;}
.frame .content #main-content .profile-body {
    margin-left: 8px;
    /*margin-top: 20px;*/
  }
.frame .content #main-content .profile-body .col-md-9 .col4{height:70px;margin-top: 40px;}
.frame .content #main-content .profile-body .col-md-9 .col4 span{color:#333;}
.frame .content #main-content .profile-body .col-md-9 .col8{margin-top: 20px;}
.frame .content #main-content .all-row .right-col4 .right-row input:checked+label{color:#ffffff;background-color: #1c9efe;}
.frame .content #main-content .profile-body .col-md-9 .col8 span{
    display:inline-block;width:100px;height:40px;border:1px solid #d7d5d5;background-color:#eeeff0;line-height: 40px;border-radius: 4px ;text-align: center;margin-left: 20px;margin-top: 10px;color:#5c6475;
font-size:12px;}
.frame .content #main-content .all-row .right-col4 .right-list{margin-top: 30px;margin-left: 20px;;}
.frame .content #main-content .all-row .right-col4 .right-list p{font-size:14px;color:#70757f;font-family: "Microsoft YaHei";}
.frame .content #main-content .all-row .right-col4 .right-row{margin-top:20px;margin-left:10px;}
.frame .content #main-content .all-row .right-col4 .right-row .right-col2{margin-top: 10px;;}
.frame .content #main-content .all-row .right-col4 .mo{width:100px;height:40px;border:1px solid #d7d5d5;background-color:#eeeff0;line-height: 40px;color:#5c6475;text-align: center;border-radius: 4px ;margin-left: 10px;margin-top: 5px;font-size:12px;}
.frame .content #main-content .all-row .right-col4 .no{margin-left: 20px;;margin-top: 12px;}
.frame .content #main-content .all-row .right-col4 .yn{margin-top: 12px;;}
.frame .content #main-content .all-row .right-col4 .row-button{margin-top: 40px;}
.frame .content #main-content .all-row .right-col4 .row-button input[type="button"]{width:126px;height:36px;line-height: 36px;border-radius: 4px;border:0;margin-left: 40px;;}
.frame .content #main-content .all-row .right-col4 .row-button .btnOne{border:2px solid #f5f5f5;background:#eeeff0;}
.frame .content #main-content .all-row .right-col4 .row-button .btnTwo{border:2px solid #1c9efe;background:#1c9efe;color:#ffffff;}
