<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>门店房源搜索页面</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
	<header id="" class="header">
		<nav>
			<ul class="">
				<li  class="logo"><a href="index.html">中介门店管理后台</a></li>
				<li><a href="index.html" title="">首页</a></li>
				<li><a href="search.html" title="" class="active">房源搜索</a></li>
				<li><a href="" title="">经纪人管理</a></li>
				<li><a href="" title="">客户管理</a></li>
				<li><a href="" title="">对账单</a></li>
				<li><a href="" title="">业务</a></li>
				<li><a href="" title="">欢迎您：<span>User</span></a></li>
			</ul>
		</nav>
	</header><!-- /header -->
</body>
</html>